<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metakill 2r{{ metakill_version }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    {% block extra_includes %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "list_killers" %}">Metakill 2</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url "list_killers" %}">Liste de mes killers</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{ request.user }}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="alert alert-warning"{# {% if message.tags %} class="{{ message.tags }}{% endif %} #}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<div class="row">
{% block body %}
{% endblock %}
</div>
</div>
</body>
</html>
